<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Stampbook.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5C3B61D1DF5D7228F406543F3E135D519E95C7DD</string>
				<key>dateExpires</key>
				<string>6/15/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C3B61D1DF5D7228F406543F3E135D519E95C7DD</string>
						<key>dateExpires</key>
						<string>6/15/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28VYBXMX82</string>
						<key>name</key>
						<string>Hiroo Aoyama (Individual)</string>
					</dict>
					<key>versionNumber</key>
					<string>11.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C3B61D1DF5D7228F406543F3E135D519E95C7DD</string>
						<key>dateExpires</key>
						<string>6/15/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28VYBXMX82</string>
						<key>name</key>
						<string>Hiroo Aoyama (Individual)</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240722.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C3B61D1DF5D7228F406543F3E135D519E95C7DD</string>
						<key>dateExpires</key>
						<string>6/15/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28VYBXMX82</string>
						<key>name</key>
						<string>Hiroo Aoyama (Individual)</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C3B61D1DF5D7228F406543F3E135D519E95C7DD</string>
						<key>dateExpires</key>
						<string>6/15/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28VYBXMX82</string>
						<key>name</key>
						<string>Hiroo Aoyama (Individual)</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C3B61D1DF5D7228F406543F3E135D519E95C7DD</string>
						<key>dateExpires</key>
						<string>6/15/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28VYBXMX82</string>
						<key>name</key>
						<string>Hiroo Aoyama (Individual)</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.37</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>28VYBXMX82.watagumostudio.StampbookApp</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>28VYBXMX82</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Stampbook.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7ca7d649-a8f3-4a7b-b8e5-1f0d655c34f6</string>
				<key>dateExpires</key>
				<string>6/15/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: watagumostudio.StampbookApp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>28VYBXMX82</string>
				<key>name</key>
				<string>Hiroo Aoyama (Individual)</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
